<template>
  <div class="container-table">
    <div class="wrap-table">
      <div v-if = 'dataReady'>
        <div class="search-section">
          <textarea spellcheck = 'false' v-model = 'searchOptions.field' placeholder = '...فیلد'>
          </textarea>
          <input type="date" v-model = 'searchOptions.date'  label = 'date'>
          <textarea spellcheck = 'false' v-model = 'searchOptions.title' placeholder = '...نام آگهی'>
          </textarea>
          <textarea spellcheck = 'false' v-model = 'searchOptions.name' placeholder = '...تغییر دهنده'>
          </textarea>
        </div>
        <transition name="fade">
          <div class="search-empty" v-show = 'searchSuccess'>
            <p>
              ...هیچ موردی بر اساس جست و جوی شما پیدا نشد.
            </p>
          </div>
        </transition>
        <hr class="divider2">
        <table>
          <thead>
            <tr>
              <th>مقدار جدید</th>
              <th>مقدار قدیمی</th>
              <th>فیلد</th>
              <th>تاریخ </th>
              <th>نام آگهی</th>
              <th class = 'no-wrap'>نام تغییر دهنده</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for = 'item in fiveItems' :key = 'item.id'>
              <td>{{item.new_value}}</td>
              <td>{{item.old_value}}</td>
              <td>{{item.field}}</td>
              <td>{{farsiNums(item.date)}}</td>
              <td>{{item.title}}</td>
              <td class = 'no-wrap'>{{item.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-else>
        <div class = "loader">
        </div>
        <div>
          <p class="loading-text">
            لطفا کمی صبر کنید
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.container-table {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

tr:nth-child(even){background-color: #f2f2f2}

.wrap-table {
  margin-top: 5em;
  content: "";
  width: 80%;
}

table {
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: #fff;
  border-collapse: collapse;
}

th, td {
  text-align: right;
  width: 100%;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-right: 1em;
  padding-left: 0.5em;
  font-family: vazir;
  text-direction: rtl;
  white-space: pre-wrap;
}

.loading-text {
  font-family: vazir;
  text-direction: rtl;
  text-align: center;
}

th {
  background-color: #A62626;
  color: white;
}
.loader {
  text-align: center;
  margin: auto;
  border: 0.5em solid #f3f3f3;
  border-top: 0.5em solid #A62626;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
}
.search-section {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.divider2 {
  border-top: 3px solid #fff;
  margin-bottom: 2em;
}

.no-wrap {
  white-space: nowrap;
}

.search-empty {
  font-family: vazir;
  color: #A62626;
  text-direction: rtl;
  text-align: right;
  font-size: 0.8em;
  border: solid 0.1em;
  border-radius: 0.2em;
  transition: opacity 1s;
}
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
textarea, .input-date {
  width: 20%;
  resize: none;
  font-family: vazir;
  text-direction: rtl;
  text-align: right;
  height: 2em;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 0.2em;
  border-style: solid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-size: 1em;
  line-height: 1.4em;
  padding: 0.5em 0.7em;
  transition: background-color 0.2s ease 0s;
}

textarea:focus {
    font-family: vazir;
    text-direction: rtl;
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 1024px) {
  .wrap-table {
    width: 100%;
  }
  th, td {
    padding: 1em;
  }
}
</style>
<script>
import axios from 'axios'
export default {
  data: () => ({
    baseUrl: process.env.VUE_APP_BASE_URL,
    data: [],
    foundData: [],
    dataReady: false,
    awaitingSearch: false,
    searchOptions: {
      field: '',
      date: '',
      title: '',
      name: ''
    }
  }),
  methods: {
    async readJason () {
      return new Promise((resolve, reject) => {
        axios.get(this.baseUrl + 'data.json').then(response => resolve(response)).catch(() => reject)
      })
    },
    compareDates (date1, date2) {
      const d1 = Date.parse(date1.date)
      const d2 = Date.parse(date2.date)
      return d1 - d2
    },
    async initSort () {
      return new Promise((resolve, reject) => {
        resolve(this.data = this.data.sort(this.compareDates)).catch(() => reject)
      })
    },
    findByDate (array, date) { /* bst search algorithm */
      const arr = []
      let first = -1/* for result */
      let last = -1
      let start = 0/* for iteration */
      let end = array.length - 1
      let half = Math.floor(end / 2)
      while (true) {
        if (end < start) {
          break
        }
        if (end > array.length - 1) {
          break
        }
        if (start < 0) {
          break
        }
        if (Date.parse(array[half].date) === Date.parse(date)) {
          first = half
          last = half
          while (first > 0) {
            if (Date.parse(array[first - 1].date) === Date.parse(date)) {
              --first
              continue
            }
            break
          }
          while (last < array.length - 1) {
            if (array[last + 1].date === date) {
              ++last
              continue
            }
            break
          }
          for (let i = first; i < last; i++) {
            arr.push(array[i])
          }
          break
        } else {
          if (Date.parse(date) > Date.parse(array[half].date)) {
            start = half + 1
            half = Math.floor((half + end + 1) / 2)
          } else {
            end = half - 1
            half = Math.floor((start + half - 1) / 2)
          }
        }
      }
      return arr
    }
  },
  created () {
    this.readJason().then(response => {
      this.data = response.data
      this.foundData = response.data
      this.initSort().then(() => {
        this.dataReady = true
      })
    }).catch(error => {
      console.log(error)
    })
    const name = this.$route.query.name
    const title = this.$route.query.title
    const field = this.$route.query.field
    const date = this.$route.query.date
    if (name !== undefined) {
      this.searchOptions.name = name
    }
    if (title !== undefined) {
      this.searchOptions.title = title
    }
    if (field !== undefined) {
      this.searchOptions.field = field
    }
    if (date !== undefined) {
      this.searchOptions.date = date
    }
  },
  computed: {
    searchSuccess () {
      return this.foundData === this.data && (this.searchOptions.name !== '' || this.searchOptions.title !== '' || this.searchOptions.field !== '' || this.searchOptions.date !== '') && !this.awaitingSearch
    },
    fiveItems () {
      const arr = []
      for (let i = 0; i < 25; i++) {
        arr.push(this.foundData[i])
      }
      return arr
    },
    farsiNums () {
      return (number) => {
        const id = ['۰', '۱', '۲', '۳', '۴', '۵', '۶', '۷', '۸', '۹']
        return number.replace(/[0-9]/g, (w) => {
          return id[+w]
        })
      }
    }
  },
  watch: {
    searchOptions: {
      handler (val) {
        if (!this.awaitingSearch) {
          setTimeout(() => {
            const queries = {}
            if (val.name !== '') {
              queries.name = val.name
              this.foundData = this.data.filter(e => e.name.toLowerCase().includes(val.name.toLowerCase()))
              if (this.foundData.length === 0) {
                this.foundData = this.data
              }
            } else {
              delete queries.name
            }
            if (val.title !== '') {
              queries.title = val.title
              this.foundData = this.foundData.filter(e => e.title.toLowerCase().includes(val.title.toLowerCase()))
              if (this.foundData.length === 0) {
                this.foundData = this.data
              }
            } else {
              delete queries.title
            }
            if (val.field !== '') {
              queries.field = val.field
              this.foundData = this.foundData.filter(e => e.field.toLowerCase().includes(val.field.toLowerCase()))
              if (this.foundData.length === 0) {
                this.foundData = this.data
              }
            } else {
              delete queries.field
            }
            if (val.date !== '') {
              queries.date = val.date
              this.foundData = this.findByDate(this.foundData, val.date)
              if (this.foundData.length === 0) {
                this.foundData = this.data
              }
            } else {
              delete queries.date
            }
            this.$router.replace({ path: '/', query: queries })
            this.awaitingSearch = false
          }, 600)
        }
        this.awaitingSearch = true
      },
      deep: true
    }
  }
}
</script>
