<template>
  <div id="app">
    <hr class = 'divider'>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  overflow-x: none;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'vazir';
  src: url('../asset/font/Vazir.eot'); /* IE9 Compat Modes */
  src: url('../asset/font/Vazir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../asset/font/Vazir.woff2') format('woff2'), /* Super Modern Browsers */
       url('../asset/font/Vazir.woff') format('woff'), /* Pretty Modern Browsers */
       url('../asset/font/Vazir.ttf')  format('truetype');
}

.divider {
  border-top: 2px solid #fff;
  position: absolute;
  width: 98%;
  top: 3.2em;
}
</style>
